<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterDonn</servlet-name>
        <servlet-class>Servlets.RegisterDonn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAss</servlet-name>
        <servlet-class>Servlets.RegisterAss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfosAss</servlet-name>
        <servlet-class>Servlets.InfosAss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDonn</servlet-name>
        <url-pattern>/RegisterDonn/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginDonn</servlet-name>
        <servlet-class>Servlets.LoginDonn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDonn</servlet-name>
        <url-pattern>/LoginDonn/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAss</servlet-name>
        <url-pattern>/RegisterAss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfosAss</servlet-name>
        <url-pattern>/InfosAss</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
